#Login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#31B6A2, #70CDA8 , #5BC6A6 , #83D3A9 , #8ED7AA , #92D9AB , #64C8A7);
}
#Login div{
    background-color: white;
    height: 65vh;
    width: 26%;
    /* border: 1px solid black; */
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 0.5rem;
}
#Login div form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    /* height: 100%; */
}
#Login div form input{
    width: 100%;
    /* background-color: black; */
    padding: 11px;
    border-radius: 0.5rem;
    /* background-color: rgb(207, 237, 237); */
}
#Login div form input::placeholder {
    text-align: center;
}
#btn{
    background-color: #31B6A2;
    border: none;
    transition:color 1s ease;
    transition:background 1s ease;
}
#btn:hover {
    background-color: #94D9AB;
    color: white;
    cursor: pointer; 
}